@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');

.App {
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #03cae3;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e551ca;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url("90spattern.jpg");
  color: black;
}

div {
  background-color: #f1f798;
}

content {
  width: 66%;
}

h1 {
  font-weight: 100;
}

h2 {
  padding-top: 10px;
  font-weight: 100;
}

p {
  font-family: 'Bungee Outline';
  font-weight: 600;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Bungee Outline';
  font-weight: 600;
}

input {
  font-family: 'Bungee Inline';
  border-radius: 6px;
  margin-right: 6px;
  padding: 6px;
  width: 20em;
}

button {
  border-radius: 6px;
  font-family: 'Bungee Outline';
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  color: #f1f798;
  background-color: #a88ff4;
  margin-bottom: 10px;
}
